<ul id="socials-list">
  <li><a href="https://drive.google.com/file/d/0B6dEoGhrXuYId0g0Nm5BR1ZYbTg/view" target="_blank" title="Resume">
      <?xml version="1.0" encoding="utf-8"?>
      <!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" viewBox="0 0 59 59" style="enable-background:new 0 0 59 59;" xml:space="preserve">
        <style type="text/css">
          .st0 {
            fill-rule: evenodd;
            clip-rule: evenodd;
            fill: currentColor;
          }
        </style>
        <title>resume</title>
        <desc>Created with Sketch.</desc>
        <path class="st0" d="M29.5,0C13.2,0,0,13.2,0,29.5S13.2,59,29.5,59S59,45.8,59,29.5S45.8,0,29.5,0z M41.8,43.5H17.2V14h10.3
	c6,0,4.1,9.8,4.1,9.8c3.7-0.9,10.2-0.5,10.2,3.7V43.5z M34.3,21.1c0.3-1.8-0.2-5.6-1.7-7c2.7,1.4,7.3,6,9.1,8.5
	C40.3,21.5,36.9,20.5,34.3,21.1z" />
      </svg>
    </a></li>
  <li class="email"><a href="mailto:jaclynchin5@gmail.com" title="Email">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg viewBox="0 0 59 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
        <title>email</title>
        <desc>Created with Sketch.</desc>
        <g id="page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="svg-email" class="socials-svg" transform="translate(-788.000000, -584.000000)" fill="" fill-rule="nonzero">
            <path d="M817.5,584 C801.208625,584 788,597.208625 788,613.5 C788,629.791375 801.208625,643 817.5,643 C833.791375,643 847,629.791375 847,613.5 C847,597.208625 833.791375,584 817.5,584 Z M834.68375,601.159167 L817.5,615.088083 L800.313792,601.159167 L834.68375,601.159167 Z M834.708333,625.7425 L800.291667,625.7425 L800.291667,604.834375 L817.5,618.7805 L834.708333,604.836833 L834.708333,625.7425 Z"
              id="email"></path>
          </g>
        </g>
      </svg></a></li>
  <li class="github"><a href="https://github.com/jac289" target="_blank" title="Github">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg viewBox="0 0 60 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
        <title>github</title>
        <desc>Created with Sketch.</desc>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="svg-github" class="socials-svg" transform="translate(-884.000000, -586.000000)" fill="#000">
            <path d="M913.541375,586.930496 C897.252458,586.930496 884.041375,600.154681 884.041375,616.465248 C884.041375,629.514686 892.493125,640.585295 904.216916,644.491266 C905.689458,644.764463 906.166375,643.848886 906.166375,643.071137 L906.166375,637.572751 C897.960458,639.359603 896.251916,634.08765 896.251916,634.08765 C894.909666,630.673925 892.974958,629.765731 892.974958,629.765731 C890.297833,627.932115 893.179,627.971495 893.179,627.971495 C896.141291,628.178238 897.699875,631.016036 897.699875,631.016036 C900.330291,635.52993 904.600416,634.225479 906.284375,633.469881 C906.547416,631.562429 907.311958,630.257977 908.157625,629.52207 C901.606166,628.771395 894.717916,626.23879 894.717916,614.924518 C894.717916,611.697847 895.870875,609.064331 897.756416,606.996899 C897.451583,606.251146 896.441208,603.245985 898.044041,599.180034 C898.044041,599.180034 900.522041,598.387518 906.159,602.207346 C908.511625,601.552659 911.033875,601.225316 913.541375,601.21301 C916.048875,601.225316 918.573583,601.552659 920.931125,602.207346 C926.563166,598.387518 929.03625,599.180034 929.03625,599.180034 C930.641541,603.248446 929.631166,606.253607 929.326333,606.996899 C931.21925,609.064331 932.362375,611.700308 932.362375,614.924518 C932.362375,626.268324 925.461833,628.766472 918.893166,629.497457 C919.95025,630.413035 920.916375,632.209732 920.916375,634.966309 L920.916375,643.071137 C920.916375,643.856269 921.388375,644.77923 922.8855,644.488805 C934.599458,640.577912 943.041375,629.509763 943.041375,616.465248 C943.041375,600.154681 929.83275,586.930496 913.541375,586.930496 Z"
              id="github"></path>
          </g>
        </g>
      </svg></a></li>
  
</ul>