 <div class="grid" >
  <div class="grid__item desk--two-third bio"> 
    <h3 class="mb" style ="color: #B4D5FD">Love for Design & More!</h3>
    <div class = "row">
    </div>
 <div class = "column" >
<div class = "bordercontainer" style ="border:4px double #FECACA; padding: 20px">
<div class = "container" style = "background-color: #FECACA; padding: 4px;">
    <p class = "double" style ="font-size:16px; text-align:center; color: #fff; padding: 2px">Hi, I'm Jaclyn! I’m a second year student at UC San Diego, pursuing a degree in Cognitive Science:
      Design & Interaction and a minor in Film.</p>
    <p style ="font-size:16px; text-align:center;color: #fff; padding: 2px">
      Currently, I am experimenting with Adobe Photoshop & Dimension, while continuing on UI/UX projects and open to opportunities</p>
    <p style ="font-size:16px;text-align:center;color: #fff; padding: 2px">
     I also have a huge love for Game of Thrones(House Stark :)), Avengers, Brooklyn 99 and other shows like Chef's Table. Spotify is an essential in my life and I live on instrumental/ film-score music. I read, draw and write scripts all while eating lots of sodium and ramen!!</p>
     </div>
  </div>

</div>