<div id="home-page">

  <div class="grid" id="work-block">
    {{#each gallery}}
    <div class="grid__item one-whole desk--one-half lap--one-half">
      {{> card}}
    </div>
    {{/each}}
  </div>
</div> <!-- /#home-page -->


