$circular: "Circular", Helvetica, sans-serif;
$freightBig: "Freight Big Pro", "Caslon", serif;

$space-xs: 0.5rem;
$space: 2rem;
$space-md: 5rem;
$space-lg: 12rem;

$huge: 2400px;
$big: 1800px;

$yellow: #feff8c; // highlighter
$yellow: #fff399;

$black: #333;

$blue: #405aee; //original
$blue: #325aee;
$blue: #3d64f0;

$pink: #ffe2e2;
//$dark-pink: darken($pink, 30%);
//$dark-pink: #ff4870;

$footer-height-palm: calc(7rem + 5vw); //Palm
$footer-height-lap: calc(3rem + 5vw); // Lap
$footer-height-desk: 8vw; // Desk

$top-bottom-space: 6vw;
